{{define "content"}}
    <div class="container">
        <h1 class="text-center">
            All Units
        </h1>
        <hr class="bg-secondary mt-0">
        <div class="accordion" id="unitAccordion">
            {{range $unitIndex, $unit := .Units}}
                {{ $isMain := (eq $unitIndex 5)}}
                <div
                        {{if $isMain}}
                            class="card bg-dark border-primary"
                        {{else}}
                            class="card bg-dark"{{end}}
                >
                    <div class="card-header" id="heading{{$unitIndex}}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{$unitIndex}}"
                                    aria-expanded="true"
                                    aria-controls="collapse{{$unitIndex}}">
                                {{- $unit.UnitName -}}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{$unitIndex}}"
                            {{if $isMain}}
                                class="collapse show"
                            {{else}}
                                class="collapse"
                            {{end}}
                         aria-labelledby="heading{{$unitIndex}}" data-parent="#unitAccordion">
                        <div class="card-body">
                            <ul>
                                {{ range $worksheetIndex, $worksheet := $unit.Worksheets }}
                                    <li>
                                        <div class="d-flex d-inline-block align-items-center justify-content-start">
                                            <a href="/units/{{ $unitIndex }}/worksheets/{{ $worksheetIndex }}">{{ $worksheet.WorksheetName }}</a>
                                            <a href="/units/{{ $unitIndex }}/worksheets/{{ $worksheetIndex }}" target="_blank"
                                               class="btn btn-sm btn-outline-light btn-link text-white ml-3 my-1">
                                                New Tab<i class="ml-1 fas fa-external-link-alt"></i>
                                            </a>
                                        </div>
                                    </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
{{end}}